p {
	font-size: .9em;
}
#welcome_header {
	text-align: center;
}

.error {
	color: red;
}

.navbar-default {
	background-color: black;
}

.navbar-brand, .nav-link {
	color: gray;
}

.top-margin {
	margin-top: 100px;
}

.form-size{
	width: 50%;
	margin: 0 auto;
}

.signin {
	margin-right: 10px;
}

.address{
	float: right;
	display: block;
}
.address p {
	margin-bottom: 0;
	padding-bottom: 0;
}

.media-body p {
	margin-bottom: 0px;
}
.media-margin {
	margin-bottom: 10px;
}
.list-spacing {
	position: relative;
	width: 65%;
}
.form-inline {
	margin-bottom: 20px;
}
.form-inline input, label, .btn-spacing {
	margin-right: 10px;
}
.spacing {
	margin-left: 10px;
}
.wait{
	color: green;
}

.map_container {
	height: 350px;
	width: 350px;
	float: right;

	}
