#welcome_header {
	text-align: center;
}

.error {
	color: red;
}

.navbar-default {
	background-color: black;
}

.navbar-brand, .nav-link {
	color: gray;
}

.top-margin {
	margin-top: 100px;
}

.form-size{
	width: 50%;
	margin: 0 auto;
}

.signin {
	margin-right: 10px;
}

.address {
	float: right;
}

.media-margin {
	margin-bottom: 10px;
}
.list-spacing {
	width: 70%;
}

.form-inline {
	margin-bottom: 20px;
}
.form-inline input, label{
	margin-right: 10px;
}